.li-produto-carrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.li-produto-carrinho > span{
    margin-left: auto;
}
span.carrinho-nome-produto,
.carrinho-preco-produto{
    max-width: 300px;
    width: 100%;
    min-height: 70px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 56px;
    font-size: 1.33em;
}
.carrinho-preco-produto{
    max-width: 100px;
    margin-left: auto !important;
    font-size: 1em;
}
.div-qtd-alterar-quantidade-carrinho{
    display: flex;
    max-width: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.div-qtd-alterar-quantidade-carrinho > button{
    width: 40px;
    height: 40px;
    border: 0;
    background: #148ACC;
    color: #FFF;
    margin: 0 8px;
    border: 10px;
}
.div-qtd-alterar-quantidade-carrinho > button:hover,
.div-qtd-alterar-quantidade-carrinho > button:focus{
    background: rgba(20, 137, 204, 0.692)    
}
.div-qtd-alterar-quantidade-carrinho > input{
    max-width: 40px;
    font-family: Lato;
    font-size: 1em;
}
.btn-deletar-item-produto{
    cursor: pointer;
    margin-left: auto;
    min-width: 30px;
    margin-left: 24px;
}
.img-produto-carrinho{
    min-width: 80px;
    min-height: 80px;
}

@media only screen and (max-width: 1000px){
    span.carrinho-nome-produto,
    .carrinho-preco-produto{
       font-size: 1em;
       max-width: 100px;
    }
    .div-qtd-alterar-quantidade-carrinho{
        margin-left: auto;
    }
}

@media only screen and (max-width: 790px){
    .li-produto-carrinho.avatar > img.img-produto-carrinho{
        display: none !important;
    }
    span.carrinho-nome-produto{
       margin-left: -50px;
    }
    .div-qtd-alterar-quantidade-carrinho{
        max-width: 130px;
    }
}
