.cabecalho-table{
  font-family: NunitoSansSemiBold;
  font-size: 1.33em;
}
.linha-pedido{
  font-size: 1em;
  font-family: Lato;
  line-height: 1.77em;
  font-size: 1em;
}
.preco-pedido {
  display: block;
  color: #006ca8;
  font-family: Lato;
}
