.container-main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 1200px){
    .container-main{
        margin: 0 auto ;
        padding: 0 20px;
        grid-template-columns: repeat(3, 1fr);
    } 
}
@media only screen and (max-width: 850px){
    .container-main{
        grid-template-columns: repeat(2, 1fr);
    } 
}
@media only screen and (max-width: 540px){
    .container-main{
        margin: 0 auto ;
        padding: 0 20px;
        grid-template-columns:  1fr;
    }
    
}