.containerEstoque {
  width: auto;
  max-width: 400px;

}
.titulo {
  max-width: 300px;
  width: 100%;
}
.titulo h1 {
  font-size: 2.5em;
}
.formEstoque > label {
  font-family: Lato;
  font-size: 1em;
  float: left !important;
  width: 300px;
  text-align: left;
}

.formLogin {
  max-width: 300px;
  width: 100%;
}
.containerBtnEstoque {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
  padding: 30px 0 0 0;
}
.btnSalvarEstoque{
  margin-left: auto;
}
.btnEstoque {
  float: center;
}
