.containerEstoque {
  width: auto;
  max-width: 400px;

}

.titulo {
  width: 300px;
}

.titulo h1 {
  font-size: 2.5em;
}

.textQtd {
  width: 185px;
}

.estoqueQtd {
  width: 330px !important;
  margin: 0 auto;
  padding: 15px;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  align-items: center;
}

.formEstoque > label {
  font-family: Lato;
  font-size: 1em;
  float: left !important;
  width: 300px;
  text-align: left;
}

.formLogin {
  width: 300px;
  text-align: left;
}

.formError {
  width: 300px;
  color: red;
}

.containerBtnEstoque {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 30px 0 0 0;
}

.btnEstoque {
  float: center;
}
