.nav-menu{
  background-color: #F47C31;
}
.btn-menu-categorias, .btn-meu-carrinho{
  width: 50px;
  height: 50px;
  font-size: 3em;
  margin-top: 5px;
  margin-right: 32px;
  border-radius: 50%;
  text-align: center;
}
.btn-meu-carrinho{
  font-size: 2em;
  margin-right: 24px;
  transition: all .2s;
}
.btn-menu-categorias:hover, .btn-meu-carrinho:hover{
  color: #F5EDE9;
}
.btn-entrar{
  background-color: #148ACC;
}
.txt-btn-entrar{
  display: block;
}
.btn-entrar:hover{
  background-color: #00528C;
}
.icon-entrar{
  margin-right: 8px;
  margin-top: 2px;
}
.container-foto{
  height: 55px;
  width: 55px;
  margin: 8px;
}
.container-foto .foto-perfil{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.container-foto  > svg{
  font-size: 3em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid currentColor;
}
.menu-vendedor{
  background-color: #636B7D;
}
.ul-menu-vendedor .tab{
  padding: 0 calc(100vw / 3 / 2 - 80px); 
  border-right: 1px solid #BFA79B;
  font-family: LatoBold;
  font-size: 1.77em;
}
.ul-menu-vendedor .tab:last-child{
  border-right: 0px;
}