
.div-radio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form-submit{
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.div-buttons-form, .div-radios-form{
    display: flex;
    justify-content: space-between;
}