.container-cadastro{
    margin: 40px  auto 80px auto; 
} 
.div-form{
    max-width: 800px;
    margin: 0 auto;
}
.rastro-pao{
    margin-top: 40px;
}
.form-dados-pessoais{
    max-width: 400px;

    margin: 40px auto;
}

@media only screen and (max-width: 850px){
    .div-form{
        max-width: 500px;
    }
}

@media only screen and (max-width: 520px){
    .div-form{
        max-width: auto;
    }
    .container-cadastro{ 
        margin: 40px  auto;
    }
}