.input-field > label{
    font-family: Lato;
    font-size: 1.33em;
}
.input-field > span.helper-text{
    color: rgb(224, 17, 17);
    font-family: Lato;
    font-size: 1em;
}
.radio-tipoUser{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form-submit{
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}