.btns-escolher-enderecos{
    display: flex;
    justify-content: space-between;
}
ul.lista-enderecos-finalizar-pedido{
    margin: 32px 0;
}
ul > li.item-lista-enderecos-finalizar-pedido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li > span.endereco-apelido{
    text-align: left;
    font-family: NunitoSansSemiBold;
    font-size: 1.33em;
}
.item-lista-enderecos-finalizar-pedido  > .endereco-descritivo{
    font-family: Lato;
    font-size: 1em;
}
div.endereco-descritivo > span{
    margin-right: 8px;
} 

div.endereco-descritivo > span.rua::after{
    content: ',';
}
div.endereco-descritivo > span.cidade::before{
    content: ' - ';
}
