.containerBtn {
  width: auto !important;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  flex-wrap: wrap;
  padding-top: 10px;
}

.btnVendedor {
  margin: 50px 0 0 0;
}

.div-container-produtos {
  width: auto !important;
  margin: 0 auto;
  padding: 0;
  padding-top: 100px;
}

@media only screen and (max-width: 1200px){
  .containerBtn, .div-container-produtos {
    margin: 0 24px;
  }
}
@media only screen and (max-width: 400px){
  .containerBtn {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .btnVendedor{
    margin-top: 24px;
  }
}