.modal {
  font-family: NunitoSans;
  width: auto;
}

.login {
  width: auto;
  max-width: 380px;
}

.endereco {
  width: auto;
  max-width: 700px;
}

.head {
  float: right;
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.close {
  width: auto;
}

.children {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head {
  position: absolute;
  right: 0;
}
