* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.modal {
  font-family: NunitoSans;
}

.head {
  float: right;
  margin: 15px;
}

.close {
  width: auto;
}

.children {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
