.modal {
  font-family: NunitoSans;
}

.login {
  max-width: 380px;
}

.head {
  float: right;
  margin: 15px;
}

.close {
  width: auto;
}

.children {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-close{
  position: absolute;
  right: 0;
}