.radio-tipoUser{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.inputs-mesma-linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputs-mesma-linha > div.input-field{
width: 100%;
}
.input-uf, .input-numero{
    margin-left: 16px;
    max-width: 100px;
}