.input-field > label{
    font-family: Lato;
    font-size: 1.33em;
}
.input-field > span.helper-text{
    color: rgb(224, 17, 17);
    font-family: Lato;
    font-size: 1em;
}
.radio-tipoUser{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form-submit{
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.input-mesma-linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input-mesma-linha > div.input-field{
width: 45%;
}
.input-uf, .input-numero{
    margin-left: 16px;
    max-width: 100px;
}
.inputs-servico-entrega{
    display: flex;
    flex-direction: co;
}
.inputs-possui-servico{
    height: 3rem;
}
.inputs-possui-servico .input-mesma-linha{
    margin-top: 16px;
}
.input-mesma-linha{
justify-content: space-around;
}