.titulo {
  max-width: 300px;
  width: 100%;
}
.titulo h1 {
  font-size: 2.5em;
}
.containerBtnLogin {
  display: flex;
  justify-content: space-between;
  max-width: 332px;
  width: 100%;
  padding: 24px 0 0 0;
}
.form-modal-login > .input-field{
  margin-top: 24px;

}
.btnLogin {
  float: center;
}

@media only screen and (max-width: 440px){
  .containerBtnLogin{
    flex-direction: column;
  }
  .containerBtnLogin > div > .btn{
    width: 100%;
    padding-top: 16px;
  }
  .btnLogin{
    margin-top: 16px;
  }
}