.titulo {
  width: 300px;
}

.titulo h1 {
  font-size: 2.5em;
}

.formLogin > label {
  font-family: Lato;
  font-size: 1em;
  float: left;
  color: black !important;
}

.formLogin {
  width: 300px;
  text-align: left;
}

.formLoginError {
  width: 300px;
  color: red;
}

.containerBtn {
  display: flex;
  justify-content: center;
  width: 300px;
}

.btnLogin {
  padding: 5px;
  float: center;
}
